---
import { getCollection } from 'astro:content'
import TeachingLayout from '@/layouts/TeachingLayout.astro'
import type { TeachingPages } from '@/types'

export async function getStaticPaths() {
  const pages = await getCollection('teaching')
  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    }
  })
}

type Props = { page: TeachingPages }

const { page } = Astro.props
const { title, description, image, affiliation } = page.data

const { Content } = await page.render()

function getCourseFromSlug(slug: string): string {
  // Split by '/' and return the first segment
  return slug.split('/')[0]
}
---

<TeachingLayout
  title={title}
  description={description}
  course={getCourseFromSlug(Astro.params.slug)}
  affiliation={affiliation}
>
  <article class="prose">
    {
      image && (
        <p>
          <img width="640" height="360" src={image.src} alt={image.alt || ''} />
        </p>
      )
    }
    <Content />
  </article>
</TeachingLayout>
